:root {
  --bg-main: #f7f9fc;
  --bg-card: #ffffff;

  --border: #e5e7eb;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --primary: #020265;
  --primary-hover: #01014d;

  --success: #22c55e;
  --info: #2563eb;
  --warning: #eab308;
  --danger: #ef4444;
}